@tailwind base;
@tailwind components;
@tailwind utilities;


/* DEMO PAGE */
.pokemons{
    @apply bg-red-500 p-10 text-center;
    
    .pokemon{

        @apply inline-block bg-green-300 p-5 rounded-br-lg;
    
        .namepoke{
    
            @apply text-2xl text-center;
            width: 100%;
        }
        
        
    }
}
/* DEMO PAGE */

