@tailwind base;
@tailwind components;
@tailwind utilities;


/* DEMO PAGE */
.pokemons{
    @apply bg-red-500 p-10 text-center;
    
    .pokemon{

        @apply inline-block bg-green-300 p-5 rounded-br-lg;
    
        .namepoke{
    
            @apply text-2xl text-center;
            width: 100%;
        }
        
        
    }
}
/* DEMO PAGE */


.btn-validate{
    @apply p-2 rounded-2xl;
    background-color: #709CA5;
    color:white;
    border: 1px solid #709CA5;
}
.btn-validate:hover{
    background-color: white;
    color: #709CA5;
    border: 1px solid #709CA5; 
}
